{% extends 'base_generic.html' %}
{% block sidebar %}
    <br>
    <a href="{% url 'accounts_list' %}">Back to accounts</a>
    <br>
    <a href="{% url 'charge_create' account_id=object.pk %}">Add charge</a>
{% endblock %}

{% block content %}
    <h2>Accounts details</h2>
    <table>
        <td style="padding:0 15px 0 15px;" valign="top">
            <table>
                <caption>Positive charges table</caption>
                <tr>
                    <th>date time</th>
                    <th>sum</th>
                    <th>update</th>
                    <th>remove</th>
                </tr>
                {% for charge in object.charges.all %}
                    {% if charge.value > 0 %}
                        <tr>
                            <td>{{ charge.date }}</td>
                            <td>{{ charge.value }}</td>
                            <td><a href="{% url 'charge_update' account_id=object.pk pk=charge.pk %}">update</a></td>
                            <td><a href="{% url 'charge_delete' account_id=object.pk pk=charge.pk %}">remove</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>no charges</tr>
                {% endfor %}
            </table>
        </td>
        <td style="padding:0 15px 0 15px;" valign="top">
            <table>
                <caption>Negative charges table</caption>
                <tr>
                    <th>date time</th>
                    <th>sum</th>
                    <th>update</th>
                    <th>remove</th>
                </tr>
                {% for charge in object.charges.all %}
                    {% if charge.value < 0 %}
                        <tr>
                            <td>{{ charge.date }}</td>
                            <td>{{ charge.value }}</td>
                            <td><a href="{% url 'charge_update' account_id=object.pk pk=charge.pk %}">update</a></td>
                            <td><a href="{% url 'charge_delete' account_id=object.pk pk=charge.pk %}">remove</a></td>
                        </tr>
                    {% endif %}
                {% empty %}
                    <tr>no charges</tr>
                {% endfor %}
            </table>
        </td>
    </table>
{% endblock %}