{% extends "base_generic.html" %}

{% block sidebar %}
    <br>
    <p><a href="{% url 'accounts_create' %}">add new account</a></p>
    <br>
{% endblock %}

{% block content %}
    {% for account in object_list %}
        <p> 
            {{ account.name }}
            {{ account.number }}
            <a href="{% url 'accounts_detail' account.pk %}">detail</a>
            <a href="{% url 'accounts_update' account.pk %}">update</a>
            <a href="{% url 'accounts_delete' account.pk %}">remove</a>
        </p>
    {% endfor %}

{% endblock %}