<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My charges</title>
</head>
<body>
<a href="/"/>go to home page<a/>
<table>
    <td style="padding:0 15px 0 15px;" valign="top">
        <table>
            <caption>Positive charges table</caption>
            <tr>
                <th>date time</th>
                <th>sum</th>
            </tr>
            {% for d, v in charges %}
            {% if v > 0 %}
            <tr>
                <td>{{d}}</td>
                <td>{{v}}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>no charges</tr>
            {% endfor %}
        </table>
    </td>
    <td style="padding:0 15px 0 15px;" valign="top">
        <table>
            <caption>Negative charges table</caption>
            <tr>
                <th>date time</th>
                <th>sum</th>
            </tr>
            {% for d, v in charges %}
            {% if v < 0 %}
            <tr>
                <td>{{d}}</td>
                <td>{{v}}</td>
            </tr>
            {% endif %}
            {% empty %}
            <tr>no charges</tr>
            {% endfor %}
        </table>
    </td>
</table>
<br>

<a href="/add_charge_no_model/"/>add fake charge (old home work)<a/>
<br>
</body>
</html>