{% extends "base_generic.html" %}

{% block sidebar %}
    <br>
    <p><a href="/add_account/">add new account</a></p>
    <br>
{% endblock %}

{% block content %}
    <h1>Hello, People!</h1>
    <div>
    <table>
        <tr>
            <th>date time</th>
            <th>sum</th>
        </tr>
        {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td><a href="/charges/{{ account.id }}/">go to this account</a></td>
            </tr>
        {% empty %}
            <tr>no accounts</tr>

        {% endfor %}
    </table>
    </div>
{#    </table>#}
{% endblock %}

